:root {
    --clr-dark: #020617;
    --clr-light: yellow;
    --bkgd-img: url(/images/nightstars.jpg);
    --bkgd-clr: #515D68;
}

* {
    color: white;
    box-sizing: border-box; 
}
body {
    background-color: var(--bkgd-clr);
}
.box{
    display: grid;
    grid-template-columns: repeat(3, 450px);
    row-gap: 100px;
    justify-content: center;
}
.wrapper{
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid red;
    background-image: var(--bkgd-img);
    /* background-image: url(/images/nightstars.jpg); */
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.word, .meaning {
    position: absolute;
    width: 300px;
    height: 300px;
    text-align: center;
    border: 1px solid blue;
}
.meaning{
    opacity: 0;
    padding-top: 50%;
}

.meaning:hover{
    animation: showMeaning .5s linear 1 forwards;
    
    /* opacity: 1;
    background-color: yellow; */
}
@keyframes showMeaning {
    to{
        opacity: 1;
        /* background-color: var(--clr-light); */
        /* background-color: yellow; */
    }
}


@media screen and (max-width: 850px) {
    .box{
        display: grid;
        grid-template-columns: repeat(2, 250px);
        row-gap: 25px;
    }
}
@media screen and (max-width: 600px) {
    .box{
        grid-template-columns: 250px;
        justify-content: center;
    }
}